/* REMOVING DEFAULT BROWSER STYLING*/
* {
    margin: 0;
    padding: 0;
}
body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
}
/*HEADER POSITION/ BACKGROUND COLOR*/
header {
    padding: 20px 35px;
    background-color: #39a6b2;
}
/*HEADER FONT STYLE/COLOR*/
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    /*ADDING SPACE FOR NAV LINKS IN HEADER BLOCK*/
    display: inline;
}
/*REMOVING BLUE UNDERLINE OF <a> /ADDING COLOR*/
header a {
    text-decoration: none;
    color: #fce138;
}
/*MOVING NAV LINKS TO THE RIGHT OF THE PAGE*/
header nav {
    float: right;
    margin: 7px 0;
}
/*CHANGING NAV <li> ELEM FROM BLOCK TO INLINE*/
header nav ul li {
    display: inline;
}
/*FURTHER STYLING FONT OF NAV LINKS*/
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}
